*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    font-size: 16px;
}

:root{
    --pri: #f8f4e1;
    --sec: #4e1f00;
    --tri1: #feba17;
    --tri2: #74512d;
}

main{
    height: 100%;
    width: 100%;
    font-family: work sans;
    color: var(--sec);
}

nav{
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: var(--tri2);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2vw;
    position: absolute;
}

.elem{
    background-color: var(--pri);
    border-radius: 10px;
    height: 50%;
    width: 18%;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 2%;
    right: 5%;
    font-size: 1rem;
    font-weight: 600;  
}

.elem:hover{
    scale: 1.05;
}

.elem:active{
    scale: 0.95;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    display: none;
    position: absolute;
    color: var(--pri);
}

.back{
    position: absolute;
    right: 5%;
    background-color: red;
    border: none;
    padding: 8px 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.2s;
    color: var(--pri);
}

.back:active{
    scale: 0.90;
}

.todo-list-fullPage{
    /* display: block; */
}

.todo-list-fullPage h2{
    font-size: 3rem;
    font-weight: 600;
}

.todo-list-fullPage .todo-Container{
    height: 80%;
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullPage .todo-Container .addTask{
    width: 28%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
}

.todo-list-fullPage .todo-Container .addTask form{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 25px;
}

.todo-Container .addTask form input#task-input{
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: var(--pri);
    font-size: 1rem;
    outline: none;
    margin-bottom: 15px;
}

.todo-Container .addTask form textarea{
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: var(--pri);
    font-size: 1rem;
    outline: none;
    margin-bottom: 15px;
}

.todo-Container .addTask form button{
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: var(--tri1);
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: 700;
    transition: all ease 0.3s;
    color: var(--pri);
}

.todo-Container .addTask form button:active{
    scale: 0.95;
}

.todo-list-fullPage .todo-Container .allTask{
    width: 70%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 25px;
    overflow: auto;
}

.Task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 25px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    border-radius: 10px;
}

.Task h5{
    color: var(--sec);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.Task h5 span{
    color: var(--pri);
    background-color: crimson;
    border-radius: 50px;
    padding: 3px 5px;
    font-size: 0.7rem;
}

.Task h5 span.true{
    opacity: 1;
}

.Task h5 span.false{
    opacity: 0;
}

.Task button{
    padding: 10px 25px;
    color: var(--pri);
    background-color: green;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: all ease 0.2s;
}

.Task button:active{
    scale: 0.95;
}

.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 15px;
    gap: 10px;
}

summary {
  list-style: none;
  display: flex;
  align-items: center; 
  gap: 10px;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: '▶';
  color: var(--sec);
}

details[open] summary::before {
  content: '▼';
  color: var(--sec);
}

.daily-planner-fullPage{
    display: block;
}

.daily-planner-fullPage h2{
    font-size: 3rem;
    font-weight: 600;
}